{% extends 'ticket/base_pycket.html'%}

{% block title%}Create Ticket{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app/create_ticket.css') }}">
{% endblock %}

{% block content%}
<div class="container">
  <form method="post">
    <div id="heading">
      <h1>Create Ticket</h1>
    </div>
    <div id="ticket-info" class="form-row">
      <div class="col-sm">
        <div class="form-group">
          <div id="nameFirst">
            <label for="nameFirst">First Name</label><br>
            <input type="text" name="nameFirst" id="nameFirst" placeholder="First Name" value="{{ request.form['nameFirst'] }}" required>
          </div>
          <div id="nameLast">
            <label for="nameLast">Last Name</label><br>
            <input type="text" name="nameLast" id="nameLast" placeholder="Last Name" value="{{ request.form['nameLast'] }}" required>
          </div>
          <div id="phone">
            <label for="phone">Phone Number</label><br>
            <input type="tel" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="XXX-XXX-XXXX" value="{{ request.form['phone'] }}" required>
          </div>
          <div id="email">
            <label for="email">Email Address</label><br>
            <input type="email" name="email" id="email" placeholder="example@example.com" value="{{ request.form['location'] }}" required>
          </div>
          <div id="location">
            <label for="location">Location</label><br>
            <input type="text" name="location" id="location" placeholder="Location" value="{{ request.form['location'] }}" required>
          </div>
          <div id="subject">
            <label for="subject">Subject</label><br>
            <input name="subject" id="subject" placeholder="Subject" value="{{ request.form['subject'] }}" required>
          </div>
          <div id="description">
            <label for="description">Description</label><br>
            <textarea name="description" id="description" placeholder="Enter the details of your issue here." required>{{ request.form['description'] }}</textarea>
          </div>
          <br><br>
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}