{% extends 'ticket/base_pycket.html'%}

{% block title%}Create Ticket{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app/create_ticket.css') }}">
{% endblock %}

{% block content%}
<div class="container">
  <form method="post">
    <div id="heading">
      <h1>Create Ticket</h1>
    </div>
    <div id="ticket-info" class="form-row">
      <div class="col-sm">
        <div class="form-group">
          <label for="subject">Subject</label>
          <input name="subject" id="subject" value="{{ request.form['subject'] }}" required>
          <label for="description">Description</label>
          <textarea name="description" id="description" placeholder="Enter the details of your issue here.">{{ request.form['description'] }}</textarea>
        </div>
      </div>
    </div>

    <label for="issueCatagory">Issue Catagory:</label>
    <select name="issueCatagory" id="issueCatagory">
      <option value="issue1">sample1</option>
      <option value="issue2">sampe2</option>
    </select>

    <div class="form-group">
      <label for="requestor">Requestor</label>
      <input id="requestor"  type="text">
    </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}