{% extends 'base.html' %}

{% block content %}
<div id="jumbotron" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Pycket</h1>
    <p class="lead">Pycket is a ticketing and support system built using the powers of Python and Flask to help you do your job effectively.</p>
    <hr class="my-4">
    <p>Pycket comes packed with plenty of useful features.</p>
    <a class="btn btn-outline-secondary btn-lg" href="#">Login</a>
    <a class="btn btn-outline-info btn-lg" href="#">Get Started</a>
  </div>
</div>

<div id="feature">

</div>
{% endblock %}