{% extends 'base.html' %}

{% block title%}Login{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <form id="login" method="POST">
    <div class="form-group">
      <h2 id="signin">Sign In</h2>
      <label for="email">Email address</label>
      <input id="email" class="form-control" name="email" type="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" class="form-control" name="password" type="password">
      <small id="forgotPassword" class="form-text text-muted"><a id="forgotPassword" href="#">Forgot Password?</a></small>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
    <div>
      <small id="newUser" class="form-text text-muted">Don't have an account? <a id="signup" href="{{ url_for('auth.register') }}">Sign Up</a></small>
    </div>
  </form>
</div>
{% endblock %}