body {
    background-color: #fff9fb;
    min-height: 100vh;
    position: relative;
    min-height: 100vh;
    position: relative;
}
#nav-login{
    margin-right: 10px;
}

#content{
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff9fb;
}

.extra-btn {
    margin-right: 10px;
}

.navbar-brand{
    margin-left: 400px;
}

.right-btn{
    margin-right: 375px;
}

.btn-info {
    background-color: #6b818c;
    border: #6b818c;
}

.flash {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 7px;
    text-align: center;
    color: red;
    font-size: 24px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
<<<<<<< HEAD
    height: auto;
=======
    position: absolute;
    bottom: 0;
    width: 100%;
    position: relative;
>>>>>>> 047946502c924afb77228860b23f4ac2bbc64d63
    text-align: center;
    background-color: #f1f1f1;
    padding-top: 15px;
  }